<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../favicon.ico">
</head>

<body>
    <div class="grid-item header-grid-item">
        <%- include('view/header'); -%>
    </div>
    <div class="grid-container-account">


        <div class="grid-item account-grid-item">
            <div>
                <h2>
                    <%=email %>
                </h2>
                <p>
                    <%=balance %>
                </p>
                <table class="accountTable">
                    <tr>
                        <td class="accountHead" colspan="6"> <b>Bets</b></td>
                    </tr>
                    <td>
                        lag1
                    </td>
                    <td>
                        odds1
                    </td>
                    <td>
                        odds2
                    </td>
                    <td>
                        lag2
                    </td>
                    <td>
                        <label for="stake">Stake</label>
                        <input type="text">
                    </td>
                    <td>
                        <select class="1or2">
                            <option value="lag1">
                                lag ett
                            </option>
                            <option value="lag2">
                                lag två
                            </option>
                        </select>
                        <input type="button" value="place"></input>
                        <button>delete</button>
                    </td>
                </table>

                <p>
                    <%= betData[1].match_matchId%>
                        <%= matchData[1].matchId%>
                            <p></p>
                            Här skriver vi ut alla bets denna user har "lagt" och som sen kan acceptera eller ta bort bet........................................................................................
                </p>

            </div>
        </div>
    </div>
    <div class="account-footer-wrap">
        <div class="grid-item footer-grid-item">
            <%- include('view/footer'); -%>
        </div>
    </div>

</body>