<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../favicon.ico">
</head>

<body>
    <div class="grid-item header-grid-item">
        <%- include('view/header'); -%>
    </div>
    <div class="grid-container-account">


        <div class="grid-item account-grid-item">
            <div>
                <h2>
                    <%=email %>
                </h2>
                <p>
                    <%=balance %>
                </p>

                <p>
                    <%=Object.keys(data[0]) %>
                        Här skriver vi ut alla bets denna user har "lagt" och som sen kan acceptera eller ta bort bet........................................................................................
                </p>

            </div>
        </div>
    </div>
    <div class="account-footer-wrap">
        <div class="grid-item footer-grid-item">
            <%- include('view/footer'); -%>
        </div>
    </div>

</body>