<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../favicon.ico">
</head>

<body>
    <div class="grid-item header-grid-item">
        <%- include('view/header'); -%>
    </div>
    <div class="grid-container-account">


        <div class="grid-item account-grid-item">
            <div>
                <h2>
                    <%=email %>
                </h2>
                <p>
                    Balance:
                    <%=balance %>
                </p>
                <table class="accountTable" id="accTable">
                    <tr>
                        <td class="accountHead" colspan="7"> <b>Bets</b></td>
                    </tr>

                    <%
                    for(var i = 0; i < matchData.length; i++){
                    %>
                        <tr>
                            <td>
                                <%=matchData[i].team1name; %>
                            </td>
                            <td>
                                <%=matchData[i].team1odds %>
                            </td>
                            <td>
                                <%=matchData[i].team2odds %>
                            </td>
                            <td>
                                <%=matchData[i].team2name %>
                            </td>
                            <td>
                                <label for="stake">Stake</label>
                                <input type="text" class="bet" value="<%= betData[i].stake%>">
                            </td>
                            <td>
                                <select class="selectTeam">
                            <option class="selectedBet" value="<%=matchData[i].team1name; %>">
                                <%=matchData[i].team1name; %>
                            </option>
                            <option class="selectedBet" value="<%=matchData[i].team2name; %>">
                                
                                <%=matchData[i].team2name; %>
                            </option>
                        </select>

                                <input type="button" value="place" onclick="placeBet('<%= i %>', '<%= balance %>', '<%= JSON.stringify(betData) %>')"></input>

                                <button type="submit" onclick="deleteBet('<%= i %>', '<%= JSON.stringify(betData) %>')">delete</button>

                            </td>
                            <td>
                                <%=betData[i].betPlaced; %>
                            </td>
                        </tr>
                        <%
                }
                    %>

                </table>
            </div>
        </div>
    </div>
    <div class="account-footer-wrap">
        <div class="grid-item footer-grid-item">
            <%- include('view/footer'); -%>
        </div>
    </div>

    <script type="text/javascript" src="../js/betFunctions.js"></script>


</body>